html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pabrik-tablist {
  overflow: scroll;
}

.pabrik-tablist::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
}

.boops {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#webcam {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
}

#gesture-canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  filter: FlipH;
  z-index: 9;
}

.pose-data {
  font-size: 10px;
}

#webcam-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background: royalblue; */
}

#app-title {
  /* position: absolute; */
  /* top:0;
  left:0;
  right: 0;
  bottom: 0; */
  z-index: 5;
}

.tutor-text {
  z-index: 5;
}

#start-button {
  width: 400px;
  /* background-color: black;*/
  /* color: white; */
  /* font-size: 16px; */
  border-radius: 30px;
  border: none;
  padding: 15px 20px;
  text-align: center;
  /* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2); */
  position: fixed;
  bottom: 30px;
  left: calc(50% - 150px);
  z-index: 10;
}

#emojimage {
  /* position: fixed; */
  top: 60px;
  left: calc(50% - 50px);
  border-style: none;
}

#emojimage.play {
  /* position: fixed; */
  z-index: 10;
}

#emojis {
  /* display: grid;
  grid-template-columns: repeat(9, 1fr);
  height: 50px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: -webkit-center;
}

#emojis img {
  opacity: 0.5;
  transition: opacity 200ms linear;
}

#emojis img.found {
  opacity: 1;
}

.header {
  text-align: center;
  font-weight: 400;
  color: #fff;
  background: blueviolet;
  font-size: 27px;
  padding: 5px 0;
}
.inputHolder {
  margin: 15px 0;
}
.mainWrapper {
  padding: 0 10px;
}
.mainContent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .mainContent {
    flex-direction: column;
  }
}
.inputHolder {
  padding: 0 10px;
  display: flex;
}
.inputHolder input[type="text"] {
  max-width: 400px;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 0;
  display: inline-block;
  border: 1px solid #222;
  outline: none;
}
.inputHolder .uploadInput {
  width: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
}
.inputHolder .or {
  align-items: center;
  display: inline-flex;
  padding: 0 20px;
}
.inputHolder .uploadImage {
  padding: 8px 16px;
  font-size: 16px;
  background: #333;
  color: #fff;
  display: inline-block;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}
.imageHolder {
  width: 60%;
  display: block;
  flex: 0 0 60%;
  max-width: 900px;
  height: 70vmin;
}
@media (max-width: 800px) {
  .imageHolder {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
.imageHolder:empty {
  display: none;
}
.imageHolder img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.resultsHolder {
  padding: 30px;
}
@media (max-width: 800px) {
  .resultsHolder {
    width: 100%;
    padding: 0;
  }
}
.resultsHolder .result {
  border: 1px solid #333;
  margin: 0 0 10px;
  padding: 10px;
}
.resultsHolder .result:first-of-type {
  border-color: #333;
  background-color: #333;
}
.resultsHolder .result:first-of-type .name {
  color: #fff;
}
.resultsHolder .result:first-of-type .confidence {
  color: #dfdfdf;
}
.resultsHolder .result .name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.resultsHolder .result .confidence {
  display: block;
  font-weight: 300;
}
.resultsHolder .result .confidence .bestGuess {
  background: #fff;
  padding: 2px 6px;
  color: #333;
  margin-left: 3px;
}
.button {
  padding: 12px 17px;
  font-size: 18px;
  background: blueviolet;
  color: #fff;
  display: inline-block;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: none;
}
.recentPredictions {
  margin: 40px 0 0;
  background: #dac2ff;
  padding: 10px;
}
.recentPredictions h2 {
  color: #111;
  font-size: 26px;
  margin: 10px 0;
}
.recentPredictions .recentImages {
  display: flex;
  flex-wrap: wrap;
}
.recentPredictions .recentPrediction {
  flex: 0 0 20%;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 25%;
  }
}
@media (max-width: 870px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 33.3%;
  }
}
@media (max-width: 700px) {
  .recentPredictions .recentPrediction {
    flex: 0 0 50%;
  }
}
.recentPredictions .recentPrediction img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 700px) {
  .recentPredictions .recentPrediction img {
    height: 260px;
  }
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-header {
  display: flex;
  justify-content: space-evenly;
}

.camera-container {
  margin-left: 2%;
  width: 800px;
  height: 640px;
}

.camera-results {
  display: flex;
  margin: auto;
  justify-content: center;
}
